{% extends "desk/desk_base.html" %}

{% block mains %}

<div class="container card-margin">
	<div class="row">
		<div class="col-md-12">
			{% with messages = get_flashed_messages() %}
         {% if messages %}
               {% for message in messages %}
               <div class="alert alert-success" role="alert" align="center"
               		 id = "alert-success">
  					{{message}}
				</div>
               {% endfor %}
         {% endif %}
      {% endwith %}
		</div>		
	</div>
  
    <div class="row dscard-margin">
        <div class="col-md-3" align="center">
            <div class="card dash-cs shadow p-3 mb-5 bg-white rounded">
                  <div class="card-body dscont-colr">
                        <p class="card-text icon-size"> <i class="fa fa-globe" aria-hidden="true"></i></p>
                    <a href="/desk/emailconfig" class="card-link dscont-colr">Config web</a>
                    
                  </div>
            </div>
        </div>
        <div class="col-md-3" align="center">
            <div class="card dash-cs shadow p-3 mb-5 bg-white rounded">
                  <div class="card-body dscont-colr">
                        <p class="card-text icon-size"><i class="fa fa-tasks" aria-hidden="true"></i></p>
                    <a href="#" class="card-link dscont-colr">To Do's</a>
                    
                  </div>
            </div>
        </div>
        <div class="col-md-3" align="center">
            <div class="card dash-cs shadow p-3 mb-5 bg-white rounded">
                  <div class="card-body dscont-colr">
                        <p class="card-text icon-size"><i class="fa fa-ticket" aria-hidden="true"></i></p>
                    <a href="#" class="card-link dscont-colr">Project</a>
                    
                  </div>
            </div>
        </div>
        <div class="col-md-3" align="center">
            <div class="card dash-cs shadow p-3 mb-5 bg-white rounded">
                  <div class="card-body dscont-colr">
                        <p class="card-text icon-size"><i class="fa fa-calendar" aria-hidden="true"></i></p>
                    <a href="#" class="card-link dscont-colr"> Calendar</a>
                    
                  </div>
            </div>
        </div>
    </div>


     <div class="row dscard-margin">
        <div class="col-md-3" align="center">
            <div class="card dash-cs shadow p-3 mb-5 bg-white rounded">
                  <div class="card-body dscont-colr">
                        <p class="card-text icon-size"><i class="fa fa-shopping-cart" aria-hidden="true"></i>
</p>
                    <a href="#" class="card-link dscont-colr">Sales</a>
                    
                  </div>
            </div>
        </div>
        <div class="col-md-3" align="center">
            <div class="card dash-cs shadow p-3 mb-5 bg-white rounded">
                  <div class="card-body dscont-colr">
                        <p class="card-text icon-size"><i class="fa fa-file" aria-hidden="true"></i></p>
                    <a href="#" class="card-link dscont-colr">Report's</a>
                    
                  </div>
            </div>
        </div>
        <div class="col-md-3" align="center">
            <div class="card dash-cs shadow p-3 mb-5 bg-white rounded">
                  <div class="card-body dscont-colr">
                        <p class="card-text icon-size"><i class="fa fa-newspaper-o" aria-hidden="true"></i></p>
                    <a href="#" class="card-link dscont-colr">Blogs</a>
                    
                  </div>
            </div>
        </div>
        <div class="col-md-3" align="center">
            <div class="card dash-cs shadow p-3 mb-5 bg-white rounded">
                  <div class="card-body dscont-colr">
                        <p class="card-text icon-size"><i class="fa fa-cog" aria-hidden="true"></i></p>
                    <a href="#" class="card-link dscont-colr">Settings</a>
                    
                  </div>
            </div>
        </div>
    </div>
</div>


{% endblock%}