.website-font-theme {
  color: #0F4F6B;
}

.ca-wd {
	/* card size css*/
	width: 16rem;
}

.std-para {
	color: grey;
}

.card-margin {
	margin-top: 10px;
}

.card-text {
	margin-top: 10px;
}

.footer-color {
	background-color: #FBFBFB
}

.footer-margin {
	margin-bottom: 10px;
}

.nav-class {
	background-color: #667eea;
}

.nav-attributes {
	color: white;
}

.login-scroll {
	height: 1200px;
	overflow: scroll;
}

.body-bkgrnd {
	background-color: ghostwhite;
}

a {
	text-decoration: none!important;
	color: inherit !important;
}

.header-font {
	font-family: 'Bebas Neue';
}