.website-font-theme {
  color: #0F4F6B;
}

.ca-wd {
	/* card size css*/
	width: 16rem;
}

.std-para {
	color: grey;
}

.card-margin {
	margin-top: 15px;
}

.card-text {
	margin-top: 10px;
}

.footer-color {
	background-color: #FBFBFB
}

.footer-margin {
	margin-bottom: 10px;
}