<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/css/utils.css" crossorigin="anonymous">	



 <nav class="navbar navbar-light navbar-expand-lg">
		<div class="container">
			<a class="navbar-brand" href="/"><img src="/static/images/WhatsApp Image 2020-07-03 at 10.36.43 PM.jpeg" width="80" height="50"></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				
				<ul class="ml-auto navbar-nav">	
					<li class="nav-item">
						<a class="nav-link btn-login-area" href="/login"><b class="website-font-theme">Login</b></a>
					</li>
					<li class="nav-item website-font-theme">
						<a class="nav-link btn-login-area" href="/about"><b class="website-font-theme">About Us</b></a>
					</li>
					<li class="nav-item website-font-theme">
						<a class="nav-link btn-login-area" href="/"><b class="website-font-theme">Language</b></a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<hr>


<div class="container-fluid">
	<div class="row">
	<div class="col-md-3" align="center">
		<div class="card ca-wd">
				<div class="card-body"> 
					<div class="text-center">
						<a href=""><img src="/static/images/ceo.jpeg" alt="Scrub" width="214" height="200" class="rounded mx-auto d-block"></a>
					</div>
					<div class="text-center card-text">
						<a href="" class="std-para">Shailesh s Pandya, CEO</a>
					</div>
					<div class="text-center">
						<small class="std-para text-center">
						Graduate from Pune University.Having rich experience in marketing and manufacturing eco-sytem.
					</small> 
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-1"></div>
		<div class="col-md-8 text-center">
			<div class="text-center website-font-theme">
				<b><h3>We are awesome, we are PJ India!</h3></b>
			</div>
			<div class="text-left website-font-theme std-para">
				We are basically operate from Shikrapur MIDC, Pune.We have our supply chain across county with our branches.We have vast experience in manufacturing of stainless steel scrubber and distributing in whole sale market.We are 2011 esatblished firm having hold on across the region of north, west, south and east. <br><br>

				We are proud that we are prmoting our Prime Minister's vision <b>Make In India.</b>Taking it to next level we have skilled team to full fill the market requirement.We have latest equipment that can match market's fast paced requirement.We Believe in having the best quality product over anything, we have some standard SOP's defined and we strictly abide them.I can assure you there will be no compromise on the quality of product, and i can proudly say we are <b>India's</b> leading manufacturer and distributer in stainless steel scrubber and wires. <br> <br>

				We are waiting for you to join us and let us make the Best Eco-system for this product.
			</div>
		</div>
		</div>
</div>


<footer class="footer-color">
	<hr>
	<div class="container">
		<div class="row">
			<div class="col-md-3 std-para">
				PJ India Ltd.<br>
				<small>At Post Shikrapur,</small><br>
				<small>Nagar-Pune Road,</small><br>
				<small>Tas. Shirur,Pune - 412208</small>
			</div>
			<div class="col-md-6"></div>
			<div class="col-md-3">
				<small class="std-para"><a href="" class="std-para"><i class="fa fa-envelope" aria-hidden="true"></i> pjindia7000@gmail.com</a><br>
			<i class="fa fa-phone" aria-hidden="true"></i> +91-7499837810 / 9970412333 <br>
			<a href="" class="std-para"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Careers</a>
		</small>
			</div>
		</div>
	</div>

	<div class="container">
		<br>
		<div class="row">
			<div class="col-md-3">
				<small class="std-para">
					<i class="fa fa-copyright" aria-hidden="true"></i> copyrights reserved 2020.	
				</small>
			</div>
			<div class="col-md-6" align="center">
				<small class="std-para">
					Be the change you wish to see in the world - MK Gandhi
				</small>
			</div>
			<div class="col-md-3 footer-margin" align="right">
				<small class="std-para">Developed by - <a href="https://github.com/khushalt" class="std-para">Khushal trivedi <i class="fa fa-github" aria-hidden="true"></i></a><br>
					Powered By - <a href="https://dashboard.heroku.com/apps"m class="std-para">Heroku Cloud</a>
				</small>
			</div>
		</div>	
	</div>
</footer>