<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/login.css') }}">

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div>
	<nav class="nav">
		  <div style="padding-left: 78px; padding-top: 15px">
			  <a class="nav-link active" href="index"><img src="/static/images/WhatsApp Image 2020-07-03 at 10.36.43 PM.jpeg" alt="Girl in a jacket" width="100" height="50"></a>	  	
		</div>
		<div style="padding-top: 40px;padding-left: 800px; color:darkblue">
			<a class="nav-link active" href="login" style="color: darkblue" ><b>Login<b></a>
		</div>
		</nav>
	<hr>


<div class="row">
	<div class="col-md-4">
	<div style="padding-left: 15px">		
	<div class="card shadow-lg p-3 mb-4 bg-white rounded" style="width: 18rem;">
			  <div class="card-body" style="padding-left: 0px">
			  	<div><a href="view"><img src="/static/images/ceo.jpeg" alt="Girl in a jacket" width="250" height="230"></a></div>
			  	<div style="padding-top: 5px;padding-left: 0px; color:grey">Shailesh Kumar Pandey, CEO <i class="fa fa-info-circle"></i>
			  	</div>
			  	<small style="color: grey">
			  		Graduate from Pune University Rich experience in Marketting and Manufacturing industries
			  		</small> 
			  </div>
			</div>
	</div>	
	</div>
	<div class="col-md-7">
		<b><h3 style="color: darkblue">We are awesome, we are SSP India!</h3></b>
		<div style="color: grey">
			
		we are basically stationed at Pune MIDC area.We have wast experience in Manufacturing Eco-System.
		Manufacturing is the production of products for use or sale using labor and machines, tools, chemical or biological processing or formulation, and is the essence of secondary industry. The term may refer to a range of human activity from handicraft to high tech but is most commonly applied to industrial design, in which raw materials from primary industry are transformed into finished goods on a large scale. Such finished goods may be sold to other manufacturers for the production of other more complex products (such as aircraft, household appliances, furniture, sports equipment or automobiles), or distributed via the tertiary industry to end users and consumers (usually through wholesalers, who in turn sell to retailers, who then sell them to individual customers).<br><br>

		We are waiting for your turn, Let get Started You may rich us on given details. Lets Make Sustainable ecosystem!
		</div>
	</div>
</div>
<footer style="padding-bottom: 20px;background-color: #F4F1F1">
	<hr>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-3" style="color: grey">
			SSP India Private Limited.<br>
			<small>Nagar Fata road, MIDC Industries.<br>
			North Block, C-10,<br>
			Pune-411007</small>
		</div>
		<div class="col-md-4"></div>
		<div class="col-md-4" style="color: grey"><small><a href="" style="color: grey"><i class="fa fa-envelope" aria-hidden="true"></i> SSP@gmail.com</a>	<br>
			<i class="fa fa-phone" aria-hidden="true"></i> +21-567843 <br>
			<a href="" style="color: grey"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Careers</a>
		</small>
		</div>
	</div>
	<br>
	<div class="row">
		
		<div class="col-md-2"></div>
		<div class="col-md-8"><small style="color: grey;padding-left: 260px">Be the change you want to see in the world - MK Gandhi</small></div>
		<div class="col-md-2" style="color: grey"> <small>Developed by - <a href="https://github.com/khushalt">Khushal Trivedi</a></small></div>		
	</div>
</footer>