{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
	<br>
<div class="row">
	<div class="col-md-3" align="center">
		<div class="card ca-wd">
				<div class="card-body"> 
					<div class="text-center">
						<a href=""><img src="/static/images/ceo.jpeg" alt="Scrub" width="214" height="200" class="rounded mx-auto d-block"></a>
					</div>
					<div class="text-center card-text">
						<a href="" class="std-para">Shailesh s Pandya, CEO</a>
					</div>
					<div class="text-center">
						<small class="std-para text-center">
						Graduate from Pune University.Having rich experience in marketing and manufacturing eco-sytem.
					</small> 
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-1"></div>
		<div class="col-md-8 text-center">
			<div class="text-center website-font-theme">
				<b><br><h3>We are awesome, we are PJ India!</h3></b><br>
			</div>
			<div class="text-left website-font-theme std-para ">
				We basically run from Shikrapur MIDC, Pune. We have our supply chain across the county with our branches. We have vast experience in the manufacturing of stainless steel scrubber and distributing in the wholesale market. We are a 2011 established firm having a hold on across the region of north, west, south, and east.<br><br>

				We are proud that we are promoting our Prime Minister Narendra Modis's vision.<b>Make In India.</b>Taking it to the next level we have a skilled team to full fill the market requirement. We have the latest equipment that can match the market's fast-paced requirements. We Believe in having the best quality product over anything, we have some standard SOP's defined and we strictly abide them.We can assure you there will be no compromise on the quality of the product, and we can proudly say we are<b>India's</b> leading manufacturer and distributor in stainless steel scrubber and wires.<br> <br>

				We are waiting for you to join us and let us make the best Eco-system for this product.
			</div>
		</div>
		</div>
</div>
<br>
<div class="container-fluid">
<div class="row">
	<div class="col-md-3" align="center">
		<div class="card ca-wd">
				<div class="card-body"> 
					<div class="text-center">
						<a href=""><img src="/static/images/coo.jpeg" alt="Scrub" width="214" height="200" class="rounded mx-auto d-block"></a>
					</div>
					<div class="text-center card-text">
						<a href="" class="std-para">Prathamesh Jagtap, COO</a>
					</div>
					<div class="text-center">
						<small class="std-para text-center">
						Agriculture Graduate from Pune University.Having good experience in client management and problem solving skills.
					</small> 
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-1"></div>
		<div class="col-md-8 text-center">
			<div class="text-left website-font-theme std-para ">
				<br>
				Sales and Marketing concepts always thrived us to make something different.To Associate with such great firm gives me immense pleasure.

				If Eco-supplier chain, management, manufacturing, sales-management etc these concepts excites you,lets meet over a coffee and discuss.
			</div>
		</div>
		</div>
</div>
 {% endblock %}
