{% extends "base.html" %}

{% block content %}
<div class="container">
  <br>
  <div class="row">
    <div class="col-md-12" align="center">
      <div class="col-md-12">
      {% with messages = get_flashed_messages() %}
         {% if messages %}
               {% for message in messages %}
               <div class="alert alert alert-danger" role="alert" align="center"
                   id = "alert-danger">
            {{message}}
        </div>
               {% endfor %}
         {% endif %}
      {% endwith %}
    </div>
    </div>
  </div>
	<div class="row card-margin " align="center">
		<div class="col-md-12">
		<div class="card shadow-lg p-3 mb-4 bg-white rounded" style="width: 25rem;">
		  <div class="card-body">
          <form id="loginForm" method="post" action="/login" runat="server">
              <div class="form-group">
                  <label for="exampleInputEmail1" class="std-para">Email Address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="username">
                  <small id="emailHelp" class="form-text text-muted">Please check your email,Instructions have been sent.</small>
            </div>
            <div>
               <button type="submit" class="btn btn-primary" id="submit">Submit</button>
            </div>
          </form>
		  </div>
	</div>
	</div>
	</div>
</div>
{% endblock %}
