
{% extends "base.html" %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<h6 class="text-center website-font-theme"><b>Welcome to Awsome Products at PJ India Ltd. We are India's leading manufacturer and supplier of scrubber,SS wires and all cleaning product</b></h6>
		</div>
		<div class="col-md-2"></div>
	</div>
	

	<div class="row">
		<div class="col-md-4 card-margin" align="center">
			<div class="card ca-wd">
				<div class="card-body"> 
					<div class="text-center">
						<a href=""><img src="/static/images/ss1.jpeg" alt="Scrub" width="214" height="200" class="rounded mx-auto d-block"></a>
					</div>
					<div class="text-center card-text">
						<a href="" class="std-para">Stainelss steel Scrubber.</a>
					</div>
					<small class="std-para">
						Top notch quality product of 430 mm stainless steel.
					</small> 
				</div>
			</div>
		</div>

		<div class="col-md-4 card-margin" align="center">
			<div class="card ca-wd">
				<div class="card-body">
					<div class="text-center">
						<a href=""><img src="/static/images/wires.jpeg" alt="Scrub" width="214" height="200" class="rounded mx-auto d-block"></a>
					</div>
					<div class="text-center card-text">
						<a href="" class="std-para">SS Stainless steel wire- 70.</a>
					</div>
					<small class="std-para">
						This is untensils scrubber used to wash and of best quality product
					</small> 
				</div>
			</div>
		</div>

		<div class="col-md-4 card-margin" align="center">
			<div class="card ca-wd">
				<div class="card-body">
					<div class="text-center">
						<a href=""><img src="/static/images/ss.jpeg" alt="Scrub" width="214" height="200" class="rounded mx-auto d-block"></a>
					</div>
					<div class="text-center card-text">
						<a href="" class="std-para">Scrubber Card.</a>
					</div>
					<small class="std-para">
						This is untensils scrubber used to wash and of best quality product
					</small> 
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4 card-margin" align="center">
			<a href="" class="website-font-theme">
				<small> Previous</small>
			</a>
		</div>
		<div class="col-md-4"></div>	
		<div class="col-md-4 card-margin" align="center">
			<a href="" class="website-font-theme">
				<small> Next</small></i>
			</a>
		</div>	
	</div>
</div>
 {% endblock %}
